@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: Montserrat;
  color: white;
}

a {
  color: white;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  background: #000000;
  background-image: url("../img/bgc.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  padding-top: 30px;
  height: 100vh;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 20px;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  line-height: 47px;
  font-weight: normal;
  font-size: 14px;
  width: 25%;
  height: 47px;
  text-align: center;
  border: 1px solid white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav__item:first-child {
  border-left: 0;
}

.nav__item:last-child {
  border-right: 0;
}

.nav__item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.header__buttons {
  padding-top: 583px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 30px;
  background-color: #99862a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
}

.btn:hover {
  background-color: #b3a041;
}

.btn:hover::after {
  width: 100%;
}

.btn::after {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  width: 0%;
  height: 5px;
  background-color: white;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.info-block {
  background: #282828;
  padding: 100px 0;
}

.info-block .info-block__content {
  border: 3px solid white;
  padding: 60px 190px;
}

.info-block .info-block__title {
  white-space: nowrap;
  padding-bottom: 40px;
  text-align: center;
}

.info-block .info-block__line {
  margin: 0 auto;
  margin-bottom: 40px;
}

.info-block .info-block__text {
  text-align: center;
}

.info-block .info-block__img {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.line {
  width: 160px;
  height: 0px;
  border-top: 1px solid #ffffff;
}

.text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.new-collections {
  color: black;
}

.new-collections {
  background: #e6e3c4;
  padding: 60px 0;
}

.new-collections__main-line {
  border: 1px solid #998431;
  width: 100%;
  height: 0;
}

.new-collections__content {
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  gap: 125px;
}

.new-collections__block-name {
  margin-bottom: 30px;
}

.new-collections__title {
  font-weight: bold;
  margin-bottom: 30px;
}

.new-collections__line {
  margin-bottom: 30px;
  border-color: black;
}

.new-collections__text {
  text-align: left;
  margin-bottom: 30px;
}

.new-collections__table {
  margin-bottom: 30px;
}

.collections-table__year {
  width: 73px;
  height: 73px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  line-height: 73px;
  border: 1px solid black;
  border-top: 0;
  border-left: 0;
}

.collections-table__last {
  border-bottom: 0 !important;
}

.collections-table__vine-name {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.collections-table__vine-description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.img img {
  width: 100%;
}

.new-collections__main-image {
  width: 540px;
  height: 500px;
}

.new-collections__subimages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  gap: 30px;
}

.collections-table__right {
  padding: 15px 30px;
  height: 73px;
  border-bottom: 1px solid black;
}

.sign {
  padding: 90px 0;
  background-color: #282828;
  overflow: hidden;
}

.sign__form {
  position: relative;
  width: 100%;
  padding: 65px 0 80px 0;
  border: 3px solid #c4c4c4;
}

.sign__form .text {
  margin-top: 40px;
  text-align: center;
  padding-bottom: 80px;
}

.sign__container {
  width: 541px;
  margin: 0 auto;
}

.sign__title {
  position: absolute;
  top: -25px;
  background-color: #282827;
  width: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

.sign__img1 {
  position: absolute;
  width: 260px;
  height: 260px;
  top: -70px;
  left: -30px;
}

.sign__img {
  z-index: 3;
}

.sign__img2 {
  position: absolute;
  width: 260px;
  height: 200px;
  top: -70px;
  right: -70px;
}

.sign__line {
  width: 118px;
  height: 1px;
  border-top: 1px solid white;
  margin: 0 auto;
}

.sign__input-name {
  width: 255px;
}

.sign__input-telephone {
  width: 255px;
}

.sign__input-address {
  margin-top: 40px;
  width: 100%;
}

.sign__input-button {
  margin-top: 50px;
  width: 100%;
  padding: 15px 30px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sign__input-button:hover {
  color: black;
  background-color: white;
}

.sign_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.input {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid white;
  padding-bottom: 9px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: white;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input:focus {
  -webkit-box-shadow: 0px 2px 0 white;
  box-shadow: 0px 2px 0 white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer {
  padding: 50px 0;
  background-color: #998431;
}

.footer hr {
  width: 100%;
  border-top: 1px solid white;
}

.footer-nav__items {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-nav__item {
  padding: 20px 30px;
  text-align: center;
}

.footer-nav__item .separated {
  padding: 20px 55px;
}

.footer-nav__item p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.separated {
  text-transform: uppercase;
}

.separated li {
  border-right: 1px solid white;
}

.separated .footer-nav__item-last {
  border-right: 0 !important;
}

.inline {
  margin: 0px 17.5px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.footer__icons {
  padding: 14px 55px;
  height: 100%;
}
